{% extends 'poll_layout.html' %}

{% block content %}

    <div class="header-color-bar">
        <h2>New Poll</h2>
        <h3>Go ahead, be inquisitive!</h3>
    </div>
    
    <div class="body-container">
       
        <div class="row">
            <div class="small-1 large-2 columns"><p></p></div>
            <div class="small-10 large-8 columns centered">
                
                <div class="choice-list">
                        
                    <!-- Form Start -->
                    <form action="/new_poll" method="POST" name="newPoll">
                
                        <input type="hidden" name="author" value="{{ user.local.email }}">
                
                        <p class="choice">Poll Name:</p>
                        <input type="text" name="name" placeholder="Enter name or question of poll (required)" required>
                            
                        <!-- Enter Choices Start -->
                        <div id="user-choices">
                            <div>
                                <p class="choice">Choice:</p>
                                <input type="text" name="labels[]" placeholder="(required)" required>
                            </div>
                            <div>
                                <p class="choice">Choice:</p>
                                <input type="text" name="labels[]" placeholder="(required)" required>
                            </div>
                            <div id="last-choice">
                                <p class="choice">Choice:</p>
                                <input type="text" name="labels[]" placeholder="(optional)">
                            </div>  
                        </div> 
                        <!-- Enter Choices End -->
                        
                        <span class="small button" id="new-choice-button" onclick="newChoice()">Add Choice</span>
                        <input type="submit" class="small button" value="Submit">

                    </form>
                    <!-- Form End -->
                        
                </div>
            
            </div>
            <div class="small-1 large-2 columns"><p></p></div>
        </div>
    
    </div>
    
    <!-- Poll Scripts -->
    <script src="js/polls.js"></script>
    
{% endblock %}
