{% extends 'layout.html' %}

{% block content %}

    <div class="header-color-bar">
        <h2>{{ poll.name }}</h2>
        <h3>{{ poll.description }}</h3>
    </div>
    
    <div class="body-container">
       
        <div class="row">
            <div class="small-1 large-2 columns"><p></p></div>
            <div class="small-10 large-8 columns centered">

                <!-- Chart Canvas -->
                <canvas id="chartCanvas" height="300" width="300"></canvas>
                <div id="legendDiv"></div>
                
                <div class="choice-list">
                    <table class="form-choices">
                        <form action="#" method="POST" name="pollChoices">
                            {% for choice in poll.choices %}
                                <tr>
                                    <td style="width:10%;">
                                        <input type="radio" name="choice" value="{{ choice.label }}">
                                    </td>
                                    <td style="width:90%;">
                                        <p style="text-align:left;">{{ choice.label }}</p>
                                    </td>
                                <tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <input type="submit" class="button small" value="Submit">
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            
            </div>
            <div class="small-1 large-2 columns"><p></p></div>
        </div>
    
    </div>
    
    <!-- Chart.js -->
    <span id="chartData" style="display:none;" data-chartdata='{{ JSON.stringify(chartData) }}'></span>
    <script src="js/Chart.min.js"></script>
    <script src="js/pieChart.js"></script>
    
{% endblock %}

    
