{% extends 'layout.html' %}

{% block content %}

    <div class="header-color-bar">
        <h2>My Polls</h2>
        <a href="/poll/new" class="button">New Poll</a>
        <a href="/logout" class="button">Logout</a>
    </div>

    <div class="body-container">

        <!-- LOCAL INFORMATION -->
        <div class="row">
            <div class="small-1 large-2 columns">
                <p></p>
            </div>
            <div class="small-10 large-8 columns">

                <div class="my-polls">
                    <!-- Loop through polls -->
                    {% for poll in polls %}
                        <p id="poll-{{poll.id}}">
                            <span onclick="deletePoll({{poll.id}})" class="alert label delete-button">&times;</span>
                            <span onclick="urlCopy({{poll.id}})" class="label label-button">url</span>
                            <a href="/poll/{{poll.id}}">{{poll.name}}</a>
                        </p>
                    {% endfor %}
                    <!-- End loop -->
                </div>
            
            </div>
            <div class="small-1 large-2 columns">
                <p></p>
            </div>
        </div>
        
    </div>
    
    <script src="js/vendor/jquery.min.js"></script>
    <script>
        function deletePoll(poll_id){
            if (confirm("Are you sure you want to delete this poll?")) {
                $.ajax({ url: '/delete_poll/' + poll_id, type: 'DELETE', success: function(result){} });
                $('#poll-' + poll_id).hide();
            }
        }
        function urlCopy(poll_id){
            prompt('Copy the url below to share this poll!','https://dvote.herokuapp.com/poll/' + poll_id);
        }
    </script>

{% endblock %}

