{% extends 'layout.html' %}

{% block content %}

    <div class="header-color-bar">
        <h2>Profile Page</h2>
        <a href="/logout" class="button">Logout</a>
    </div>

    <div class="body-container">

        <!-- LOCAL INFORMATION -->
        <div class="row">
            <div class="medium-8 columns">
                <h3>My Polls</h3>
                <ul>
                    <li>This list will be where all the user's polls will show up.</li>
                </ul>
            </div>
        </div>
        
    </div>

{% endblock %}