{% extends 'layout.html' %}

{% block content %}

    <div class="header-color-bar">
        <h1>Signup</h1>
    </div>
    
    <!-- show messages -->
    {% if (message.length > 0) %}
        <div class="alert callout" data-closable>
            <p>{{ message }}</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

   <div class="body-container">

        <!-- Signup Form -->
        <form action="/signup" method="post">    
        
            <div class="row">
                <div class="medium-6 columns">
                    <label>Email
                        <input type="text" name="email">
                    </label>
                    <label>Password
                        <input type="password" name="password">
                    </label>
                    <button type="submit" class="button">Signup</button>
                </div>
            </div>
            
        </form> 
        
        <hr>
        
        <p>Need an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    
    </div>

{% endblock %}