.title-bar {
    background-color: #eaeaea;
    height: 55px;
}
.body-container {
    margin: 30px;
}
.header-color-bar {
    background-color: lightskyblue;
    padding: 20px;
    height: 150px;
    max-height: 150px;
    text-align: center;
}
.main-text-color {
    color: black;
}
.menu-icon::after {
    background: #111;
    box-shadow: 0 7px 0 #111, 0 14px 0 #111; 
}
.centered {
    text-align: center;
}
.poll-list {
    border: 1px solid lightskyblue;
    border-bottom: 0px;
    border-radius: 10px;
}
.poll-list-item {
    text-align: center;
    background-color: #eef;
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid lightskyblue;
}
.poll-list-item-first {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.poll-list-item-last {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.poll-list-item p {
    margin: 0;
    padding: 0;
}
.poll-list-item:hover {
    background-color: lightskyblue;
}
canvas {
    border: 1px solid lightskyblue;
}